footer{
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
.footer-container{
  text-align: center;
  height: 100px;
}
.footer-container .footer-content {
  padding-top: 7.5px;
  padding-bottom: 10px;
}
.footer-container .footer-content .footer-menu li{
  padding-left: 5px;
  display: inline-block;
}
.footer-container .footer-content .footer-menu li a {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  outline: 0;
  color: rgba(255, 255, 255, 0.8);
  background: #333;
  transition: all 0.3s ease;
}
.footer-container .footer-content .footer-menu li:hover a {
  transform: scale(1.2);
}
#facebook:hover {
  background-color: #3B5998;
  color: white;
}
#linkedin:hover {
  background-color: #0077B5;
  color: white;
}
#github:hover {
  background-color: #4183C4;
  color: white;
}