/* passion section styling */
.passion, .work{
  color:#fff;
  background: #111;
}
.passion .title::before,
.work .title::before{
  background: #fff;
}
.passion .title::after,
.work .title::after{
  background: #111;
}
.passion .row .col-lg-4 .box{
  transition: all 0.3s ease;
}
.passion .row  .col-lg-4 .box p{
  margin: 0px auto 40px auto;
  max-width: 80%;
} 
.passion .row  .text{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}
.passion .row .col-lg-4:hover .text{
  color:crimson;
}
#passion .col-lg-4 .box .png1 {
  background-image: url(images/icon1.png);
}
#passion .col-lg-4 .box .png2 {
  background-image: url(images/icon2.png);
}
#passion .col-lg-4 .box .png3 {
  background-image: url(images/icon3.png);
}
#passion .col-lg-4 .box .icon i{
  width: 55px;
  height: 55px;
  display: inline-block;
  vertical-align: middle;
  background-size: 100%;
}
#passion .col-lg-4 .box .icon {
  width: 175px;
  height: 175px;
  line-height: 175px;
  max-width: 100%; 
  background: crimson;
  border-radius: 50%;
  margin: 0 auto 40px;
}
