/* about section styling */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
.about {
  text-align: center;
}

.about .container p {
  font-size: 16px;
  line-height: 1.7;
  font-weight: 300;
  max-width: 650px;
  margin: 30px auto;
}

#about #prof-pic {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.contact {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  overflow: auto;
}

.contact .contact-container .email-icon {
  font-size: 55px;
  margin: 0 auto 10px;
}

.contact .contact-container p {
  font-size: 20px;
  line-height: 1.7;
  font-weight: 300;
  max-width: 450px;
  margin: 0 auto;
  font-family: 'Roboto Slab', serif;
}

.contact .contact-container h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 30px;
}

#contact #email-button {
  margin-top: 20px;
  color: #000;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 30px;
  border: 2px solid #000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#contact #email-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: crimson;
  background-color: black;
}

footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}

.footer-container {
  text-align: center;
  height: 100px;
}

.footer-container .footer-content {
  padding-top: 7.5px;
  padding-bottom: 10px;
}

.footer-container .footer-content .footer-menu li {
  padding-left: 5px;
  display: inline-block;
}

.footer-container .footer-content .footer-menu li a {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  outline: 0;
  color: rgba(255, 255, 255, 0.8);
  background: #333;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-container .footer-content .footer-menu li:hover a {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#facebook:hover {
  background-color: #3B5998;
  color: white;
}

#linkedin:hover {
  background-color: #0077B5;
  color: white;
}

#github:hover {
  background-color: #4183C4;
  color: white;
}

/* home section styling */
.head {
  z-index: 1;
  background-image: url("images/banner.jpeg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.head .home {
  z-index: 0;
}

.head .home .home-container {
  text-align: center;
  line-height: 1.5;
}

.head .home .home-container h2, h3 {
  font-family: "Roboto", Helvetica, sans-serif;
  color: #fff;
}

.head .home .home-container .text-1 {
  letter-spacing: 10px;
  font-size: 50px;
}

.head .home .home-container .text-2 {
  letter-spacing: 5px;
  font-size: 18px;
  font-weight: 100;
}

/* navbar styling */
.my-navbar {
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 999;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.my-navbar.sticky {
  padding: 5px 0;
  background: #222;
}

.my-navbar .navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", Helvetica, sans-serif;
  text-transform: uppercase;
}

.my-navbar .navbar-container .logo img {
  width: 50px;
  margin-top: 0.3rem;
}

.my-navbar .navbar-container .logo a {
  color: #e2e2e2;
  font-size: 18px;
  margin-left: 15px;
  letter-spacing: 3px;
  text-decoration: none;
}

.my-navbar .navbar-container .menu-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.my-navbar .navbar-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0px;
  list-style: none;
}

.my-navbar .menu li {
  margin: 0 5px;
}

.my-navbar .menu li a {
  padding: 5px;
  display: block;
  color: #e2e2e2;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-decoration: none;
}

.my-navbar .menu li a:hover {
  color: crimson;
}

.my-navbar .logo a:hover {
  color: crimson;
}

#resumebtn {
  background-color: crimson;
  padding: 0.60rem 1rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  color: white;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.resume-buttn:hover a {
  color: #000 !important;
}

/* menu btn styling */
.menu-btn {
  cursor: pointer;
  display: none;
}

.menu-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.menu-btn div {
  width: 25px;
  height: 3px;
  background-color: #e2e2e2;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.scroll-up-btn a {
  color: #fff;
  text-decoration: none;
}

.scroll-up-btn a:hover {
  color: #fff;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
  background-color: crimson;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
  background-color: crimson;
}

/* passion section styling */
.passion, .work {
  color: #fff;
  background: #111;
}

.passion .title::before,
.work .title::before {
  background: #fff;
}

.passion .title::after,
.work .title::after {
  background: #111;
}

.passion .row .col-lg-4 .box {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.passion .row .col-lg-4 .box p {
  margin: 0px auto 40px auto;
  max-width: 80%;
}

.passion .row .text {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.passion .row .col-lg-4:hover .text {
  color: crimson;
}

#passion .col-lg-4 .box .png1 {
  background-image: url(images/icon1.png);
}

#passion .col-lg-4 .box .png2 {
  background-image: url(images/icon2.png);
}

#passion .col-lg-4 .box .png3 {
  background-image: url(images/icon3.png);
}

#passion .col-lg-4 .box .icon i {
  width: 55px;
  height: 55px;
  display: inline-block;
  vertical-align: middle;
  background-size: 100%;
}

#passion .col-lg-4 .box .icon {
  width: 175px;
  height: 175px;
  line-height: 175px;
  max-width: 100%;
  background: crimson;
  border-radius: 50%;
  margin: 0 auto 40px;
}

.skills .container .row .col-md-8 .title {
  margin-bottom: 0;
}

.skills .container .row .col-md-8 .line {
  position: relative;
  text-align: center;
  font-size: 16px;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.skills .container .row .card-body {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.row .card-body .dev-item .fab {
  font-size: 5em;
}

/* resume section styling */
#resume {
  background: url("images/resume.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
}

#resume .overley {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 20px 0;
}

#resume h5 {
  color: white;
  font-size: 20px;
  font-weight: 900;
}

.work .title::after {
  background: #111;
}

.work .title::before {
  background: #fff;
}

.work {
  color: #fff;
  background: #111;
}

@media screen and (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .my-navbar .menu {
    position: absolute;
    left: 0px;
    height: 100vh;
    top: 55.4px;
    padding-top: 20px;
    background-color: #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in;
    transition: -webkit-transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  }
  .my-navbar .menu li {
    padding-bottom: 90px;
  }
  .home .home-container .text-1 {
    font-size: 50px;
  }
  .home .home-container .text-2 {
    font-size: 20px;
  }
  .resume-buttn {
    display: none;
  }
}

@media (max-width: 810px) {
  .navbar-container {
    padding: 0 10px 0 10px;
  }
}

@media (min-width: 811px) {
  .navbar-container {
    padding: 0 30px 0 30px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: normal;
  z-index: -1;
}

body h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
}

p {
  margin: 0;
  margin-bottom: 10px;
  font-family: Helvetica,Arial,sans-serif;
}

img {
  border: 0;
  vertical-align: middle;
}

ol, ul, dl {
  margin-bottom: 0rem !important;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #444;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

::-webkit-scrollbar-thumb:hover {
  background: crimson;
}

/* all similar content styling codes */
section {
  padding: 50px 0;
}

.about, .passion, .skills, .work, .contact, footer {
  font-family: 'Poppins', sans-serif;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

section .line::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section .line::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 0 5px;
  background: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */