/* home section styling */
.head{
  height: 100%; 
  display: grid;
  place-items: center;
}
#home-section {
  z-index: 0;
  background-image: url(images/banner.jpeg) ;
}
.head .home{
  z-index: 1;
}
.head .home .home-container{
  text-align: center;
  line-height: 1.5;
}
.head .home .home-container h2, h3{
  font-family: "Roboto", Helvetica, sans-serif;
  color: #fff;
}
.head .home .home-container .text-1 {
  letter-spacing: 10px;
  font-size: 50px;
}
.head .home .home-container .text-2{
  letter-spacing: 5px;
  font-size: 18px;
  font-weight: 100;
}