/* navbar styling */
.my-navbar{
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease;
}
.my-navbar.sticky{
  padding: 5px 0 ;
  background: #222;
}
.my-navbar  .navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", Helvetica, sans-serif;
  text-transform: uppercase;
}
.my-navbar .navbar-container .logo img {
  width: 50px;
  margin-top: 0.3rem; 
}
.my-navbar .navbar-container  .logo a{
  color: rgb(226, 226, 226);
  font-size: 18px;
  margin-left:  15px;
  letter-spacing: 3px;
  text-decoration: none;
}
.my-navbar .navbar-container .menu-border{
  display: flex;
  justify-content: space-around;
}
.my-navbar .navbar-container .menu{
  display: flex;
  justify-content: space-around;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.my-navbar .menu li {
margin: 0 5px;
}
.my-navbar .menu li a{
  padding: 5px;
  display: block;
  color: rgb(226, 226, 226);
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
  transition: color 0.3s ease;
  text-decoration: none;
}
.my-navbar  .menu li a:hover{
  color: crimson;
}
.my-navbar .logo  a:hover{
  color: crimson;
}
#resumebtn{
  background-color: crimson;
  padding: 0.60rem 1rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
}
.resume-buttn:hover a{
color: #000!important;
}
/* menu btn styling */
.menu-btn{
  cursor: pointer;
  display: none;
}

.menu-active{
  transform: translateX(0%)!important;
}
.menu-btn div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover{
  filter: brightness(90%);
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px , 6px );
  background-color: crimson;
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px , -6px );
  background-color: crimson;
}